#Version 1.1
#Template file for /etc/default/kubelet file

KUBELET_OPTS='
--address=0.0.0.0
{% for host in groups['k8s_master'] %}
--api_servers=http://{{ hostvars[host]['ansible_cbr0']['ipv4']['address'] }}:{{ api_server_port }}
{% endfor %}
--register-node=true 
--config=/etc/kubernetes/manifests 
--kubeconfig=/var/lib/kubelet/kubeconfig
--host-network-sources=*
--configure-cbr0=false
--enable-debugging-handlers=true
--cluster-dns={{ cluster_dns }}
--cluster-domain={{ cluster_domain }}
'

